.car{
    width: 100%;
    padding: 5px;
    background: rgb(5, 6, 45);
    border-radius: 17px;
    color: snow;
    text-align: center;
    font-family: FreeMono, monospace;
}

.carBorder{
    width: 18%;
    margin: 10px;
    border-radius: 20px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}

.carCenter{
   padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car > button {
    font-size: 20px;
    margin: 5px;
    background: #5B42F3;
    border: 3px solid #AF40FF;
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    color: snow;
}

.car >button:hover{
    font-size: 25px;
    background: rgb(5, 6, 45);
    border: 2px solid #00DDEB;
}